.Header{
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #F2F3F4;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    border-radius: 70%;
    width: 100px;
    object-fit: contain;
    margin-left:20px;
}

.name{
    display: flex;
    font-family: cursive;
    font-style: italic;
    margin-left: 10px;
    font-weight: bolder;
    font-size: larger;
    margin-right: 20px;
    color: black;
}

.name p{
    margin-top: auto;
    margin-left: 20px;
}

.header_nav button{
    background-color: #ff6900;
    font-size: larger;
    color: #faf3ef;
    font-weight: bold;
    width: 100%;
    border-radius: 0px;
    border-radius: 20%;
    border-width: 1px;
}

.header_search{
    height: 25px;
    display: flex;
}

.header_nav {
    margin-left: auto;
    margin-top: 2%;
    margin-right: 20px;
    /* width: 80px; */
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
}

.header_nav p{
    font-size: large;
    padding-right: 30px;
    font-weight: 600;
    margin-top: 5%;
}

.header_nav input{
    padding-right: 30px;
}

